.Top-component
  %p.anton IT What's new
  .stock-info
    = link_to '　ストック　', "#"
  - if user_signed_in?
    .entry_button
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
  - else
    .entry_button
      = link_to 'ログイン', new_user_session_path
      = link_to '新規登録', new_user_registration_path
%hr{:noshade => "noshade", :size => "80"}/
- @infos.each do |info|
  .main
    -# .button
      -# = button_to "保存", {controller: 'infos', action: 'show'}, {method: :get}
    .content
      .content__title
        %a.content__title--link{:href => "#{info.url}"}
          =info.title
      .content__summary
        %a.content__summary--link{:href => "#{info.url}"}
          =info.text