= render 'header'
.all__content
  .topinfo
    %p.newinfo 新着情報
    %p.ranking 本日のランキング
  .main__all__content
    - if user_signed_in?
      .main__scroll 
        - @infos.each do |info|
          - unless @infoid.include?(info.id)
            .main
              .content
                .content__title
                  %a.content__title--link{ href: "#{info.url}", id: "#{info.id}", rel: "noopener noreferrer", target: "_blank"}
                    = info.title
                .content__summary
                  %a.content__summary--link{ href: "#{info.url}", id: "#{info.id}", rel: "noopener noreferrer", target: "_blank"}
                    = info.text
              .aicon
                .button
                  = button_to controller: 'infos', action: 'create', method: :post, params: {id: "#{info.id}"} do
                    %i.far.fa-bookmark.afterread あとで読む
                    -# %i.fas.fa-check
                %i.far.fa-eye #{info.see}
      .main__scroll_ranking
        - @info_rank.each do |info|
          .ranking
            .rainking_content__title
              .content__title
                %a.content__title--link{ href: "#{info.url}", rel: "noopener noreferrer", target: "_blank"}
                  = info.title
            .aicon
              .button
                = button_to controller: 'infos', action: 'create', method: :post, params: {id: "#{info.id}"} do
                  %i.far.fa-bookmark あとで読む
                  -# %i.fas.fa-check
              %i.far.fa-eye #{info.see}
    - else
      .main__scroll 
        - @infos.each do |info|
          .main
            .content
              .content__title
                %a.content__title--link{ href: "#{info.url}", id: "#{info.id}", rel: "noopener noreferrer", target: "_blank"}
                  = info.title
              .content__summary
                %a.content__summary--link{ href: "#{info.url}", id: "#{info.id}", rel: "noopener noreferrer", target: "_blank"}
                  = info.text
            .aicon
              .button
                = button_to controller: 'infos', action: 'create', method: :post, params: {id: "#{info.id}"} do
                  %i.far.fa-bookmark あとで読む
                  -# %i.fas.fa-check
              %i.far.fa-eye #{info.see}
      .main__scroll_ranking
        - @info_rank.each do |info|
          .ranking
            .rainking_content__title
              .content__title
                %a.content__title--link{ href: "#{info.url}", rel: "noopener noreferrer", target: "_blank"}
                  = info.title
            .aicon
              .button
                = button_to controller: 'infos', action: 'create', method: :post, params: {id: "#{info.id}"} do
                  %i.far.fa-bookmark あとで読む
                  -# %i.fas.fa-check
              %i.far.fa-eye #{info.see}
= render 'footer'
-# = paginate(@infos)